snippet codeblock
	\`\`\`${1}
	${0:${VISUAL}}
	\`\`\`
snippet codeblock-lang
	\`\`\`${1:language}
	${2:code}
	\`\`\`
snippet codeblock-short
	\`\`\`${1}
	${0:${VISUAL}}
	\`\`\`
snippet codeblock-full
	\`\`\`${1:language}
	${2:code}
	\`\`\`
